.container {
  /* background-color: blue; */
  width: 100%;
  padding: 3%;
}
.pg_wrapper {
  /* background-color: bisque; */
}
.header {
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.score {
  /* background-color: chartreuse; */
}
.score_marks {
  font-size: 64px;
  text-align: center;
}
.numbers{
  /* background-color: chartreuse; */
  padding: 10px;
}
.number_wrapper{
  /* background-color: aqua; */
display: flex;
gap: 15px;
height: 90%;
}
.cover{
  /* background-color: antiquewhite; */
  padding: 3px;
  display: flex;
  align-items: center;
}
.selected{
  border: 2px solid rgb(0, 195, 255);
}
.dice_plain{
  border: solid black 1px;
  padding: 16px;
}
.dice_box{
  /* background-color: chocolate; */
  width: 15%;
  margin: 40px auto;
}
.dice p{
text-align: center;
margin-bottom: 10px;
}
.dice img{
  object-fit: contain;
  width: 100%;
  margin-bottom: 10px;
}
button{
display: block;
margin: 0px auto 10px;
padding: 6px 40px;
border: none;
border-radius: 5px;
}
.white{
background-color: white;
color: black;
border: 1px solid black;
}
.black{
background-color: black;
color: white;
}
.rules{
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
}
.rules p{
  background-color: rgb(245, 223, 226);
  padding: 15px;
}
